#formforcolor,#sourcecode{
	float: left;
	width: 45%;
}
#codecolored,#resultOfcompile{
	float: right;
	width: 55%;
}
#codefilelist{
	float: left;
	width: 25%;
}
#codefilecontent{
	float: right;
	width: 75%;
}
a{
	text-decoration: none;
}
